# Builds and caches
node_modules
dist
.turbo
.vercel
.browsers
*.tmp.*

# Tests and reports
coverage
test-results
.vitest*
__screenshots__
playwright-report
blob-report
**/**/playwright/.cache

# We use pnpm, so prevent other lockfiles from being committed
package-lock.json
yarn.lock
